<h2>{{ titulo }}</h2>

<p>Insertar nueva marca</p>
<p>
  <input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" />
  <input type="text" [(ngModel)]="miMarca" (keyup.enter)="showWord()" />
  <button (click)="alertMarca()">Mostar marca</button>
  <button (click)="addMarca()">Crear nueva marca</button>
</p>

<p>
  <strong>{{ miMarca }}</strong>
</p>

<p>Compra zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{ indice + 1 }}. {{ marca }}
    <button (click)="deleteMarca(indice)">Eliminar</button>
  </li>
</ul>

<p>Zapatillas disponibles</p>
<ul>
  <li
    *ngFor="let zapatilla of zapatillas"
    [style.text-decoration]="zapatilla.stock ? 'none' : 'line-through'"
  >
    {{ zapatilla.nombre }} - <strong>{{ zapatilla.precio }}&euro; </strong>
    <span
      *ngIf="zapatilla.precio <= 100"
      [style.background]="zapatilla.precio < 80 ? 'green' : 'transparent'"
      [style.color]="zapatilla.precio < 80 ? 'white' : 'black'"
      >EN OFERTA</span
    >
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>

<input type="text" [(ngModel)]="color" />

<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'" [style.background]="color">
    Color predominante es el amarillo
  </li>
  <li *ngSwitchCase="'red'" [style.background]="color">
    Color predominante es el rojo
  </li>
  <li *ngSwitchCase="'blue'" [style.background]="color">
    Color predominante es el azul
  </li>
  <li *ngSwitchCase="'orange'" [style.background]="color">
    Color predominante es el naranja
  </li>
</ul>
